.list-view {
    display: flex;
    height: 600px;
    background-color: grey;
    margin-bottom: 3px;
}

.filter {
    width: 300px;
    background-color: red;
}

.list-view-spacer {
    min-width: 2px;
}

.list {

}

