/* Rank Panel Layout */

.rank-panel {
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 34%;
    background-color: #363636;
}

.rank-panel-top {
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 100%;
}

.rank-panel-top-left {
    height: 100%;
    width: 33%;
}

.rank-panel-top-middle {
    width: 34%;
}

.rank-panel-top-right {
    width: 33%;
    text-align: left;
    overflow: hidden;
    margin: auto;
}

.rank-panel-bottom {
    height: 50%;
    width: 100%;
}

/* Rank Header */

.header-rank {
    height: 72px;
    font-size: 46px;
    overflow: hidden;
    text-align: center;
}

/* Rank Emblem */

.rank-emblem {
    display: flex;
    height: 100%;
    padding: 3px;
}

.rank-emblem-img {
    min-height: 140px;
    min-width: 140px;
    margin: auto;
}

/* Rank Progress Bar */

.rank-progress-bar {
    height: 50px;
    max-height: 100%;
}

.rank-progress {
    height: 30px;
    margin: 3px;
}

.rank-progress-numeric {
    font-size: 11px;
    text-align: center;
}

/* Rank Panel Button (Open Leaderboard) */

.rank-panel-button-wrapper {
    height: 20px;
    text-align: center;
}

.rank-panel-button {
    color: #fff;
    box-shadow: unset;
    border: unset;
    background-color: inherit;
}

/* Profile Summary & Icons */

.profile-summary {
    height: 80%;
}

.profile-summary-row {
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 100%;
}

.profile-summary-num-complete {
    height: 100%;
    width: 100%;
    text-align: center;
    /* TODO: Review padding for refactor */
    padding-top: 10px; 
    font-size: 18px;
}

/* Profile Title */

.profile-title {
    height: 20%;
    font-size: 14px;
    text-align: center;
    font-style: italic;
    overflow-y: hidden;
}