.list-panel {
    display: flex;
    flex-direction: row;
    height: 645px;
    margin-bottom: 3px;
}

.filter {
    height: 70%;
    width: 250px;
    background-color: #363636;
    /* margin-bottom: 3px; */
}

.filter-button, .filter-nearby-slider {
    color: #fff;
    background-color: #363636;
    /* height: 61px; */
    width: 100%;
    font-size: 16px;
    border-radius: unset;
    border: unset;
    padding-inline: 20px;
    text-align: left;
}
.filter-nearby-slider{
    height: 80px;
    padding-top: 10px;
}

.filter-range {
    text-align: right;
}

.list-panel-spacer {
    min-width: 3px;
}

.list-container {
    width: 100%;
    background-color: #363636;
    overflow-y: scroll;
    text-align: center;
}

