.list-panel {
    display: flex;
    flex-direction: row;
    height: 630px;
    margin-bottom: 3px;
}

.filter {
    width: 300px;
}

.list-panel-spacer {
    min-width: 3px;
}

.list {
    width: 100%;
    background-color: grey;
    overflow-y: scroll;
}

