.showcase-panel {
    background-color: #474748;
    width: 34%;
    padding: 2px;
}

.showcase-panel-spacer {
    height: 15px;
}

/* Thumbnails List */

.showcase-panel-thumbnail-header {
    color: #fff;
    font-size: 16px;
    text-align: center;
}

.showcase-panel-thumbnail-list-short {
    height: 115px;
    min-width: 230px;
    text-align: center;
    overflow-y: hidden;
    word-wrap: hidden;
}